@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght,YTLC@1,6..12,462,513&display=swap');


* {
    list-style: none;
}

.navbar-1 {
    display: flex;
    justify-content: space-around;
    margin: 12px 15px;
    align-items: center;
}

.nav-logo img {
    width: 130px;
}

.nav-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);

}

.nav-items li>a {
    text-decoration: none;
    padding: 0px 20px;
    color: black;
    text-transform: capitalize;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: inline-block;
    position: relative;
}

.nav-items li>a:hover {
    color: rgb(87, 87, 87);
}

.nav-items li>a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #efc612;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-items li>a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.home {
    background-image: url(/Images/firstbanner-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin: 15px 26px;
    position: relative;
    height: 45vw;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 111px 372px #00000047;
}

.fst-banner {
    text-align: center;
}

.fst-banner-content-1 p {
    color: #edc100;
    text-transform: uppercase;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 3px;
    margin: 0px;
}

.fst-banner-content-1 h1 {
    color: #ffffff;
    font-size: 4vw;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fst-banner-content-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
}



.fst-banner-content-2 h1 {
    color: #ffffff;
    font-size: 4vw;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fst-banner-content-3 p {
    color: #ffffff;
    font-family: "Hind Siliguri", sans-serif;
    font-style: normal;
    font-size: 0.9rem;
    margin: 11px;
}

.round-images img {
    width: 4vw;
    height: 4vw;
    border-radius: 30px;
    margin: 0px -5px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.round-images img:hover {
    box-shadow: 0 8px 8px 0 #6d6d6d, 0 8px 8px 0 #454545;
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    -moz-transform: translate(0px, 5px);
}

.fst-banner-content-btn1 {
    background-color: #efc612;
    border: 1px solid #efc612;
    border-radius: 7px;
    margin: 10px;
    color: #3c3c3c;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    font-size: 0.9rem;
    padding: 7px 22px;
}


.fst-banner-content-btn2 {

    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 7px;
    color: #3c3c3c;
    margin: 10px;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    font-size: 0.9rem;
    padding: 7px 22px;
}

.nav-btn button {
    background-color: #efc612;
    border: 1px solid #efc612;
    border-radius: 7px;
    margin: 10px;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    font-size: 0.8rem;
    padding: 5px 15px;

}

.services-cards {
    margin: 15px 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.services-cards-1 {
    background-image: url(/Images/psychiatric\ evaluation.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 505px;
    height: 300px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
    margin: 5px;
    box-shadow: inset 0px 0px 111px 150px #8000801a;
}

.services-cards-1-content h2 {
    color: #fff;
    font-size: 1.7rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}

.services-cards-1-content p {
    color: #fff;
    font-size: 0.8rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}


.services-cards-2 {
    background-image: url(/Images/medication.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 505px;
    height: 300px;
    border-radius: 15px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    box-shadow: inset 0px 0px 111px 150px #8000801a;
}

.services-cards-2-content h2 {
    color: #fff;
    font-size: 1.7rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}

.services-cards-2-content p {
    color: #fff;
    font-size: 0.8rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}

.services-cards-3 {
    background-image: url(/Images/psychothery.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 505px;
    height: 300px;
    border-radius: 15px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    box-shadow: inset 0px 0px 111px 150px #8000801a;
}

.services-cards-3-content h2 {
    color: #fff;
    font-size: 1.7rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}

.services-cards-3-content p {
    color: #fff;
    font-size: 0.8rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}

.services-cards-1-content-icon {
    background-color: #edc100;
    padding: 0px 9px;
    border-radius: 30px;
    font-size: 1.8rem;
    font-weight: 100;
    color: #0000009e;
    cursor: pointer;
}

.booking-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 8vw 0px;
}


.booking {
    width: 450px;
}

.booking h4 {
    color: #edc100;
    text-transform: uppercase;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 3px;
    margin: 10px 0px;
}

.booking h1 {
    color: #000000;
    font-size: 2.4rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    margin: 10px 0px;
}

.booking p {
    color: #636363;
    font-size: 0.9rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    margin: 16px 0px;
}

.visit-us {
    width: 300px;
    margin: 20px 15px;
}

.visit-us>i {
    color: #800080a3;
    padding: 7px;
    font-weight: 100;
    font-size: 1.6rem;
    border: 1px solid #ccd6f9;
    background-color: #ccd6f9;
    border-radius: 26px;
}

.visit-us h1 {
    color: black;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 14px 0px 3px 0px;
}

.visit-us h3 {
    color: #636363;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    font-style: normal;
    margin: 12px 0px;
}

.visit-us p {
    color: #755375;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
}

.visit-us p>i {
    color: rgba(0, 0, 0, 0.645);
    font-weight: 100;
    font-size: 1rem;
    margin: 0px 7px;
}

.mindhaven {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 8vw 0px;
}

.mindhaven-img img {
    width: 100%;
    border-radius: 10px;
    filter: drop-shadow(45px 45px 0px #3a1e33);
}

.mindhaven-content-1 {
    width: 500px;
}

.mindhaven-content-1 h3 {
    color: #efc614;
    text-transform: uppercase;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 3px;
    margin: 15px 0px;
}

.mindhaven-content-1 h1 {
    color: #000000;
    font-size: 2.7rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    margin: 10px 0px;
}

.mindhaven-content-1 p {
    color: #636363;
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
    line-height: 1.7;
}

.mindhaven-content-1 h4 {
    color: #454545;
    text-transform: capitalize;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 462;
    font-style: italic;
    font-size: 1rem;
    margin: 25px 0px;

}

.mindhaven-docter-name {
    display: flex;
    align-items: end;
    margin: 20px 0px;
}

.mindhaven-docter-name img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.mindhaven-docter-name h5 {
    color: #000000;
    font-size: 1rem;
    margin: 3px 10px;

}

.mindhaven-docter-name p {
    color: #454545;
    font-size: 0.7rem;
    text-transform: capitalize;
    font-weight: 400;
    margin: 3px 10px;
}

.mindhaven-end-btn button {
    background-color: #efc612;
    border: 1px solid #efc612;
    border-radius: 7px;
    margin: 50px 10px 10px 10px;
    color: #3c3c3c;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    font-size: 0.9rem;
    padding: 7px 22px;
}

.our-services {
    background-color: #f7f4fa;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.services-top-content {
    text-align: center;
    margin: 60px 0px;
}

.services-top-content h4 {
    color: #efc614;
    text-transform: uppercase;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 3px;
    margin: 15px 0px;
}

.services-top-content h1 {
    color: #000000;
    font-size: 2.7rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    margin: 10px 0px;
}

.services-1 {
    width: 360px;
    height: 330px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    margin: 10px;
}

.services-1 img {
    width: 97px;
    height: 85px;
    margin-bottom: 20px;
}

.services-1 h3 {
    color: #000000;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    margin: 10px 0px;
}

.services-1 p {
    color: #636363;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
    line-height: 1.4;
    padding: 0px 10px;
    margin-bottom: 20px;
}

.services-1 li>a {
    color: #000000;
    font-weight: 400;
    font-size: 0.9rem;
    font-family: "Fira Sans", sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    border-bottom: 1px solid #00000082;
    border-bottom-width: 1px;
}

.services-1 li>a:hover {
    color: #636363;
}

.all-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px;
}

.health-care {
    width: 500px;
    margin: 0px 20px;
}

.resident-care {
    display: flex;
    align-items: start;
    width: 100%;
}

.resident-care>i {
    color: #3a1e33;
    font-weight: 100;
    background-color: #ccd6fa;
    font-size: 2.2rem;
    padding: 1px 8px;
    border: 1px solid #ccd6fa;
    border-radius: 37px;
    margin: 0px 20px;
}

.resident-care h1 {
    text-transform: capitalize;
    font-size: 1rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    margin: 0px;
}

.resident-care p {
    color: #636363;
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
    line-height: 1.7;
    margin: 0px;
}

.chose-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 45px 0px;
}

.health-care-image img {
    width: 100%;
    border-radius: 15px;
    opacity: 0.8;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.health-care-image img:hover {
    opacity: 1;
    box-shadow: 0 8px 8px 0 #6d6d6d, 0 8px 8px 0 #454545;
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    -moz-transform: translate(0px, 5px);
}

.healthcare-content-top h4 {
    color: #efc614;
    text-transform: uppercase;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 3px;
    margin: 15px 0px;
}

.healthcare-content-top h1 {
    color: #000000;
    font-size: 2.7rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    margin: 10px 0px;
}

.healthcare-content-top {
    text-align: center;
    margin: 40px 0px;
}

.health-care-image {
    position: relative;
}

.health-care-image>i {
    font-size: 2.8rem;
    border: 1px solid #F1C512;
    position: absolute;
    left: 17rem;
    top: 11rem;
    background-color: #f1c512;
    border-radius: 46px;
    padding: 0px 8px 0px 15px;
}

.health-care-image>i:active {
    display: none;
}

.pages {
    background-color: #3a1e33;
    width: 100%;
    height: 100%;
    padding: 30px 0px;
}

.process {
    width: 450px;
}

.process h4 {
    color: #edc100;
    text-transform: uppercase;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 3px;
    margin: 10px 0px;
}

.process h1 {
    color: #ffffff;
    font-size: 2.7rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    margin: 10px 0px;
}

.process p {
    color: #cfcfcf;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
    line-height: 1.7;
}

.process button {
    background-color: #efc612;
    border: 1px solid #efc612;
    border-radius: 7px;
    margin: 50px 10px 10px 10px;
    color: #3c3c3c;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    font-size: 0.9rem;
    padding: 7px 22px;
}

.appointments {
    width: 350px;
    margin: 20px;
}

.appointments h1 {
    color: #3a1e33;
    background-color: #ccd6fa;
    border: 1px solid #ccd6fa;
    border-radius: 30px;
    width: 54px;
    font-size: 1.8rem;
    padding: 9px 11px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;

}


.appointments h3 {
    color: #ffffff;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    margin: 10px 0px;
}

.appointments p {
    color: #cfcfcf;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
    line-height: 1.7;
}

.appointment-services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    width: 780px;
}

.works {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    margin: 40px;
}

.reviews-top-content h3 {
    color: #efc614;
    text-transform: uppercase;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 3px;
    margin: 15px 0px;
}

.reviews-top-content h1 {
    color: #ffffff;
    font-size: 2.7rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    margin: 10px 0px;
}

.reviews-top-content p {
    color: #cfcfcf;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
    line-height: 1.7;
    width: 30%;
}

.review-1 {
    width: 412px;
    height: 100%;
    background-color: #f7f4fa;
    border-radius: 20px;
    padding: 20px 50px;
    margin: 10px;

}

.review-1-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.review-1-content-top img {
    width: 75px;
    height: 15px;
}

.review-1-content-top p {
    margin: 0px;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
    text-transform: capitalize;
}

.review-1-content-mid h5 {
    color: #000000;
    text-transform: capitalize;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 462;
    font-style: italic;
    font-size: 1.2rem;
    margin: 11px 0px;
}

.review-1-content-mid p {
    color: #0000008a;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
    line-height: 1.7;
    margin-bottom: 19px;
}

.review-1-content-end {
    display: flex;
    align-items: start;
    margin: 27px 10px;
}

.review-1-content-end img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.review-1-content-end h1 {
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    color: #00000087;
    font-size: 1rem;
    margin: 0px 10px 20px 10px;
}

.review-1-content-end h2 {
    color: #00000069;
    font-size: 0.8rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    margin: 3px 10px;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px 0px;
}

.testimonial {
    margin: 100px 0px 0px 0px;
}

.artical-top-content {
    text-align: center;
}

.artical-top-content h3 {
    color: #efc614;
    text-transform: uppercase;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 3px;
    margin: 15px 0px;
}

.artical-top-content h1 {
    color: #000000;
    font-size: 2.7rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    margin: 10px 0px 0px 0px;
}

.artical-top-content h2 {
    color: #000000;
    font-size: 2.7rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    margin: 0px;
}

.medical-project-1 {
    width: 350px;
    height: 381px;
    background: #ffffff;
    border-radius: 15px;
    margin: 10px;
}

.medical-project-1 img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.project-1-midcontent {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 15px 5px 0px 22px;
}

.project-1-midcontent h5 {
    color: #000000bd;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0px;
}

.project-1-midcontent h6 {
    color: #00000094;
    text-transform: uppercase;
    font-size: 0.6rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0px;
}

.project-1-midcontent span {
    font-size: 2.5rem;
    color: #efc614;
    font-weight: bolder;
    margin: -27px 5px 0px 5px;
}

.medical-project-1 h2 {
    color: #000000;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    margin: 0px 15px;
}

.medical-project-1 p {
    color: #0000008a;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
    line-height: 1.7;
    margin: 6px 18px;
    padding-right: 13px;
}

.blog-and-news {
    background-color: #f7f4fa;
    padding: 20px;
}

.medical-project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.faqs-img {
    width: 480px;
    height: 580px;
    border-radius: 15px;
}

.faqs-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.questions {
    width: 600px;
}

.faqs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
}

.questions-top-content h3 {
    color: #efc614;
    text-transform: uppercase;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 3px;
    margin: 15px 0px;
}

.questions-top-content h1 {
    color: #000000;
    font-size: 2.7rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    margin: 10px 0px 12px 0px;
}

#question-01 {
    border: none;
}

#question-02 {
    border-bottom: 1px solid rgba(118, 118, 118, 0.405);
    padding: 0px;
}

.accordion-button {
    background-color: white !important;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-text {
    font-size: 1rem;
    margin: 0px;
}

.booking-now {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.book-now-content {
    background-image: url(/Images/bookingimg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 111px 210px #593541b1;
}

.book-now-content-top h4 {
    color: #efc614;
    text-transform: uppercase;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 3px;
    margin: 15px 0px;
    z-index: -1;
}

.book-now-content-mid h1 {
    color: #ffffff;
    font-size: 2.7rem;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    margin: 10px 0px;
    z-index: -1;
}

.book-now-content-mid p {
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
    line-height: 1.7;
    margin: 0px;
    z-index: -1;
}

.book-now-content-btn {
    margin: 10px 0px 35px 0px;
}

.book-now-content-btn1 {
    background-color: #efc612;
    border: 1px solid #efc612;
    border-radius: 7px;
    margin: 10px;
    color: #3c3c3c;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    font-size: 0.9rem;
    padding: 7px 22px;
}

.book-now-content-btn2 {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 7px;
    color: #3c3c3c;
    margin: 10px;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    font-size: 0.9rem;
    padding: 7px 22px;
}

.footer {
    background-color: #c7c7c7;
    margin-top: -14rem;
    padding: 16rem 10px 10px 10px;
    position: relative;
    border-radius: 15px 15px 0px 0px;
    z-index: -2;
}

.footer-left-logocontent {
    width: 300px;
}

.footer-left-logocontent img {
    width: 180px;
    height: 140px;
}

.footer-left-logocontent>p {
    font-size: 0.8rem;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    color: #000000af;
}

.footer-icon {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.footer-icon>li {
    padding: 6px 10px;
    background-color: #3A1E33;
    margin: 4px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 30px;
}

.footer-address h2 {
    text-transform: capitalize;
    color: #3a1e33cc;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 10px 0px;
}

.footer-address p {
    font-size: 0.8rem;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    color: #000000af;
    margin: 5px 0px;
}

.explore-items h1 {
    text-transform: capitalize;
    color: #3a1e33cc;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 10px 0px 20px 0px;
}

.explore-items a {
    font-size: 1rem;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    color: #000000af;
    text-transform: capitalize;
    text-decoration: none;
}

.working-hours p {
    font-size: 0.8rem;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    color: #000000af;
    margin: 5px 0px;
}

.working-hours h1 {
    text-transform: capitalize;
    color: #3a1e33cc;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 10px 0px 20px 0px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

.newsletter h1 {
    text-transform: capitalize;
    color: #3a1e33cc;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 10px 0px 20px 0px;
}

.newsletter input {
    width: 334px;
    background-color: #3a1e3359;
    border: 1px solid #3a1e3300;
    height: 36px;
    border-radius: 7px;
    padding: 0px 15px;
    color: #ffffff85
}

.newsletter button {
    background-color: #3a1e33;
    border: 1px solid #3a1e33;
    border-radius: 7px;
    color: #efc612;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    font-size: 0.9rem;
    padding: 7px 22px;
}

.subscribe-section {
    text-align: center;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.copyright p {
    margin: 10px 5px;
    font-size: 0.9rem;
    color: #3A1E33;
    text-transform: capitalize;
}